<%- include('header') -%>

<h1>Undir&shy;skriftar&shy;listi — umsjón</h1>
<span>Inskráður sem: <strong><%= user.username %> </strong></span>
<a class="admin__link" href="/admin/logout">Útskrá</a>



<%- include('list') -%>

<%- include('footer') -%>