<%- include('header') -%>

<h1>Innskráning</h1>
<form class="login__form" method="post" action="./login">
    <label for="username">Notendanafn: </label><input type="text" name="username" id="username" required>
    <label for="password">Lykilorð: </label><input type="password" name="password" id="password" required>
    <% if (message) { %>
        <p><%= message  %> </p>
       <% } %>
     
    <button>Innskrá</button>
  </form>

<a href="/">Til baka</a>

<%- include('footer') -%>